In [3]:
import pandas as pd
# DataFrame 생성
data = {
    '이름': ['철수', '영희', '민수'],
    'age': [28, 22, 31],
    'gender': ['남', '여', '남']
}
df = pd.DataFrame(data)
# DataFrame 출력

In [25]:
df = 0

In [26]:
df = pd.read_csv("df.csv")

In [28]:
df.to_csv("파일이름.csv", index=False)
pd.read_csv("파일이름.csv")

   이름  age gender
0  철수   28      남
1  영희   22      여
2  민수   31      남

In [29]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
     - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
     ------ ------------------------------ 41.0/250.0 kB 393.8 kB/s eta 0:00:01
     --------- --------------------------- 61.4/250.0 kB 465.5 kB/s eta 0:00:01
     --------- --------------------------- 61.4/250.0 kB 465.5 kB/s eta 0:00:01
     ---------------- ------------------- 112.6/250.0 kB 435.7 kB/s eta 0:00:01
     -------------------- --------------- 143.4/250.0 kB 472.1 kB/s eta 0:00:01
     ---------------------------- ------- 194.6/250.0 kB 562.0 kB/s eta 0:00:01
     -----------------------------------  245.8/250.0 kB 628.1 kB/s eta 0:00:01
     ------------------------------------ 250.0/250.0 kB 568.1 kB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [31]:
df.to_excel("df.xlsx", engin='openpyxl')

TypeError: NDFrame.to_excel() got an unexpected keyword argument 'engin'

In [17]:
import pandas as pd
# 리스트로 데이터 정의
data2 = [
    ['철수', '28', '남'],
    ['영희', '22', '여'],
    ['민수', '31', '남']
]

In [18]:
pd.DataFrame(data2)

    0   1  2
0  철수  28  남
1  영희  22  여
2  민수  31  남

In [19]:
# 컬럼 이름 정의
columns2 = ['이름', 'age', 'gender']

In [20]:
df2 = pd.DataFrame(data2, columns=columns2)

In [21]:
import pandas as pd

# Series 생성
data3 = pd.Series([100, 200, 300, 400, 500], index=['a', 'b', 'c', 'd', 'e'])

# Series 출력
print(data)

a    100
b    200
c    300
d    400
e    500
dtype: int64

In [22]:
data3.name = '숫자'

In [23]:
data3

a    100
b    200
c    300
d    400
e    500
Name: 숫자, dtype: int64